@mixin reset-button($display: "inline-block") {
  display: #{$display};
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;

  color: inherit;
  font: inherit;
  line-height: normal;

  background-color: transparent;
  border: none;
  border-radius: 0;
  outline-offset: 0;
  box-shadow: none;

  appearance: none;
  user-select: none;

  @content;
}
