@mixin body($weight: 400) {
  font-weight: $weight;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

@mixin h1($weight: 700) {
  font-weight: $weight;
  font-size: 40px;
  line-height: 1;
}
