@use "@styles/base/breakpoints";
@use "@styles/mixins/typography";
@use "sass:color";

:root {
  color-scheme: light dark;

  // color primitives
  --color-black: hsl(0deg 0% 0%);
  --color-white: hsl(0deg 0% 100%);

  --neutral-100: hsl(0deg 0% 96%);
  --neutral-200: hsl(0deg 0% 90%);
  --neutral-300: hsl(0deg 0% 83%);
  --neutral-500: hsl(0deg 0% 45%);
  --neutral-700: hsl(0deg 0% 25%);
  --neutral-800: hsl(0deg 0% 15%);
  --neutral-900: hsl(0deg 0% 9%);

  --emerald-500: hsl(160deg 84% 39%);

  --blue-600: hsl(221deg 83% 53%);
  --purple-600: hsl(271deg 81% 56%);
  --red-600: hsl(0deg 72% 51%);
  --orange-600: hsl(21deg 90% 48%);

  // fonts
  --font-sans: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Droid Sans",
               "Helvetica Neue", Helvetica,Arial, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-serif: Georgia, "Times New Roman", Times, serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  // base
  --body-bg: var(--back-primary);
  --body-color: var(--front-primary);
  --font-base: var(--font-sans);
  --font-size-root: 100%;
  --font-size-base: 1rem;
  --font-weight-base: 400;
  --line-height-base: 1.25;

  // transitions
  --transition-fast: 0.125s ease;
  --transition-default: 0.25s ease;
  --transition-slow: 0.5s ease;
  --transition-slowest: 1s ease;

  // appearance
  --border-error: var(--red-600);
  --outline-color: var(--emerald-500);

  // z-index
  --z-index-default: 1;
  --z-index-noscript: 99;

  // layout
  --container-padding: 16px;
  --container-max-width: 992px;

  @media screen and (min-width: breakpoints.$screen-ti) {
    --container-padding: 32px;
  }

  @media screen and (min-width: breakpoints.$screen-d) {
    --container-padding: 64px;
  }

  @media (prefers-color-scheme: light) {
    --front-primary: var(--neutral-900);
    --front-secondary: var(--neutral-700);
    --front-tertiary: var(--neutral-500);
    --front-invert: var(--neutral-100);
    --front-accent: var(--emerald-500);

    --back-primary: var(--neutral-100);
    --back-secondary: var(--neutral-200);

    --border-primary: var(--neutral-300);
  }

  @media (prefers-color-scheme: dark) {
    --front-primary: var(--neutral-100);
    --front-secondary: var(--neutral-300);
    --front-tertiary: var(--neutral-500);
    --front-invert: var(--neutral-900);
    --front-accent: var(--emerald-500);

    --back-primary: var(--neutral-900);
    --back-secondary: var(--neutral-800);

    --border-primary: var(--neutral-700);
  }

  @supports (color: light-dark(white, black)) {
    body {
      --front-primary: light-dark(var(--neutral-900), var(--neutral-100));
      --front-secondary: light-dark(var(--neutral-700), var(--neutral-300));
      --front-tertiary: light-dark(var(--neutral-500), var(--neutral-500));
      --front-invert: light-dark(var(--neutral-100), var(--neutral-900));
      --front-accent: light-dark(var(--emerald-500), var(--emerald-500));

      --back-primary: light-dark(var(--neutral-100), var(--neutral-900));
      --back-secondary: light-dark(var(--neutral-200), var(--neutral-800));

      --border-primary: light-dark(var(--neutral-300), var(--neutral-700));
    }
  }
}
